{{#split-view isVertical=true class="hamster-view"}}
	{{#split-child class="child"}}
		{{render "editor" model}}
	{{/split-child}}
	{{split-sash class="sash"}}
	{{#split-child class="compositeRight"}}
		{{#split-view isVertical=false class="hamster-runtime"}}
			{{#split-child class="stage"}}
				<ul class="toolbar">
					<li class="cornCount"><img src="images/hamsterkorn24.png" alt="Corn"> {{model.playfield.carryCorn}}</li>
					<li>{{bs-button title="►︎" class="navbar-btn" clicked="play"}}</li>
					<li>{{#bs-button class="navbar-btn" clicked="reset"}}<img src="images/loeschen24.gif" alt="Reset">{{/bs-button}}</li>
					<li>{{bs-button title="Step" class="navbar-btn" clicked="step"}}</li>
					<li>{{bs-button title="Clear Console" class="navbar-btn" clicked="clearConsole"}}</li>
					<li>{{#bs-button class="navbar-btn" clicked="rotate"}}<img src="images/linksUm24.gif" alt="Rotate">{{/bs-button}}</li>

					<li class="btn-group">{{#bs-button class="switchPlayfield navbar-btn dropdown-toggle" data-toggle="dropdown"}}<img src="images/size24.gif" alt="Switch Playfield">{{/bs-button}}
					<ul class="dropdown-menu" role="menu">
						{{#each model.playfieldTemplates}}
						<li class="menuitem"><a {{action 'selectTemplate' this}}>{{name}}</a></li>
						{{/each}}
					</ul>
					</li>
				</ul>
				<div class="playfield-container">
					{{render "Playfield" model.playfield}}
				</div>
			{{/split-child}}
			{{split-sash class="sash"}}
			{{#split-child class="console-wrapper child"}}
				{{render "console" model}}
			{{/split-child}}
		{{/split-view}}
	{{/split-child}}
{{/split-view}}
