{{#split-view isVertical=true class="hamster-view" splitPercentage=model.mainSplitview}}
	{{#split-child}}
		{{#split-view isVertical=false class="hamster-textpart" splitPercentage=model.editorSplitview}}
			{{#split-child class="child"}}
				{{outlet editor}}
			{{/split-child}}
			{{split-sash class="sash"}}
			{{#split-child class="child variables-wrapper"}}
				{{view "variables"}}
			{{/split-child}}
		{{/split-view}}
	{{/split-child}}
	{{split-sash class="sash"}}
	{{#split-child class="compositeRight"}}
		{{#split-view isVertical=false class="hamster-runtime" splitPercentage=model.playfieldSplitview}}
			{{#split-child class="stage"}}
				<div class="toolbar">
					<div class="btn-group">
						<div class="btn cornCount"><img src="images/hamsterkorn24.png" alt="Corn"> {{model.playfield.carryCorn}}
							<div class="btn-group-xs btn-group-vertical">
								{{bs-button title="+" class="btn" clicked="addCorn"}}
								{{bs-button title="-" class="btn" clicked="removeCorn"}}
							</div>
						</div>
					</div>
					<div class="btn-group">
						{{#if model.playMode}}
							{{#bs-button class="btn btn-default" clicked="pause"}}<img src="icons/pause.png" alt="Pause" title="Pause">{{/bs-button}}
						{{else}}
							{{#bs-button class="btn btn-default" clicked="play"}}<img src="icons/play.png" alt="Play" title="Play">{{/bs-button}}
						{{/if}}
						{{#bs-button class="btn" clicked="reset"}}<img src="icons/delete.png" alt="Reset" title="Reset">{{/bs-button}}
						{{#bs-button class="btn" clicked="stepIn"}}<img src="icons/stepin.png" alt="Step In" title="Step In">{{/bs-button}}
						{{#bs-button class="btn" clicked="stepOver"}}<img src="icons/stepover.png" alt="Step Over" title="Step Over">{{/bs-button}}
					</div>
					<div class="btn-group">
						{{#bs-button class="btn" clicked="rotate"}}<img src="icons/rotate.png" alt="Rotate" title="Rotate Hamster">{{/bs-button}}

						<div class="btn-group">{{#bs-button class="switchPlayfield btn dropdown-toggle" data-toggle="dropdown"}}<img src="icons/choose.png" alt="Switch Playfield" title="Switch Playfield">{{/bs-button}}
						<ul class="dropdown-menu" role="menu">
							{{#each model.playfieldTemplates}}
							<li class="menuitem"><a {{action 'selectTemplate' this}}>{{name}}</a></li>
							{{/each}}
						</ul>
						</div>
					</div>
					<div class="btn-group">
						{{#bs-button class="btn" clicked="load"}}<img src="icons/load.png" alt="Load Document" title="Load Document">{{/bs-button}}
						{{#bs-button class="btn" clicked="save"}}<img src="icons/save.png" alt="Save Document" title="Save Document">{{/bs-button}}
					</div>
					<div class="btn-group runSpeedSliderWrapper">
						<span class="runSpeedSliderLabel">Speed:</span> {{input type="text" class="runSpeedSlider"}}
					</div>
				</div>
				<div class="playfield-container">
					{{render "Playfield" model.playfield}}
				</div>
			{{/split-child}}
			{{split-sash class="sash"}}
			{{#split-child class="console-wrapper child"}}
				<div class="consoleScroller">
					{{outlet console}}
				</div>
				{{#bs-button class="clearConsoleButton" clicked="clearConsole"}}<img src="icons/delete.png" alt="Clear" title="Clear Console">{{/bs-button}}
			{{/split-child}}
		{{/split-view}}
	{{/split-child}}
{{/split-view}}

{{#bs-modal name="SaveDialog" fade=true footerButtonsBinding="saveDialogButtons" title="Save Document"}}
<form class="form-horizontal" role="form" {{action 'saveDocumentAndDimiss' on="submit" bubbles=false}}>
	<div class="form-group">
		<label for="saveFilename" class="col-sm-4 control-label">File Name:</label>
		<div class="col-sm-8">
			{{input type="text" class="form-control" id="saveFilename" placeholder="example.js" value=saveFilename}}
		</div>
	</div>
</form>
{{/bs-modal}}
